body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blueviolet
}

h1 {
  color:purple;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin: 0, 5px;
}

h3 {
  color:purple;  
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #00e5ee;
  border-radius: 5px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.overview {
  margin-bottom: 20px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.weather-temp strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: rgb(45, 171, 202);
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px; 
}

.sixdayforecast {
text-align:center
}

.weather-forecast-date {
  color:rgb(73, 128, 230);  
}

.weather-forecast-temperature-min {
 color:rgb(14, 124, 151);
}

.weather-forecast-temperature-max {
color:rgb(14, 151, 94);
}
.humidity-heading{
color:purple;
}

.wind-heading{
color:purple;
}


